<h1><%= @gossip.title %></h1> 

<h2> Cree par <%= @user.first_name %> </h2>
<%= link_to "voir le user", user_path(@user) %>
<p> <%= @gossip.content %></p>
<p> Cree le <%=  @gossip.created_at %></p>

 


